<div class="record-wrapper">
  {{!-- 캐릭터 배경 정보 --}}
  <div class="record-features">
    <div class="record-row">
      <label class="record-label">출생</label>
      <input name="system.features.born.title" type="text" value="{{system.features.born.title}}" placeholder="출생" />
    </div>
    <div class="record-row">
      <label class="record-label">경험</label>
      <input name="system.features.past.title" type="text" value="{{system.features.past.title}}" placeholder="경험" />
    </div>
    <div class="record-row">
      <label class="record-label">목적</label>
      <input
        name="system.features.purpose.title"
        type="text"
        value="{{system.features.purpose.title}}"
        placeholder="목적"
      />
    </div>
  </div>
</div>
