<section class="spell-tab">
  <div class="spell-toolbar">
    <button type="button" class="item-create spell-create" data-action="itemCreate" data-type="spell">
      <i class="fas fa-plus"></i> {{localize "ASTER.spell.add"}}
    </button>
  </div>
  <div class="spell-list">
    {{#each spells as |s|}}
    <div class="spell-card" data-item-id="{{s.id}}">
      <img class="spell-img" src="{{s.img}}" alt="{{s.name}}" data-action="itemEdit" data-item-id="{{s.id}}" />
      <div class="spell-body">
        <button type="button" class="spell-name" data-action="spellCast" data-item-id="{{s.id}}">{{s.name}}</button>
        <div class="spell-meta">
          <span class="formula spell-color-{{s.color}}">{{s.formula}}</span>
        </div>
      </div>
      <button
        type="button"
        class="icon-btn spell-cast-extra"
        data-action="spellCastWithExtra"
        data-item-id="{{s.id}}"
        title="{{localize 'ASTER.spell.castWithExtra'}}"
      >
        <i class="fas fa-dice-d6"></i>
      </button>
      <button type="button" class="icon-btn" data-action="itemEdit" data-item-id="{{s.id}}">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="icon-btn" data-action="itemDelete" data-item-id="{{s.id}}">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    {{else}}
    <p class="spell-empty">{{localize "ASTER.spell.empty"}}</p>
    {{/each}}
  </div>
</section>
