<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <nav class="sheet-main-tabs tabs" data-group="main">
    <a class="item" data-group="main" data-action="tab" data-tab="character">character</a>
    <a class="item" data-group="main" data-action="tab" data-tab="craft">craft</a>
    <a class="item" data-group="main" data-action="tab" data-tab="record">record</a>
  </nav>

  <section class="sheet-container">
    <div class="tab character" data-group="main" data-tab="character">
      <div class="character-layout">
        <div class="sheet-left">{{> "systems/aster/templates/actor/parts/actor-main-character.html"}}</div>
        <div class="sheet-right">
          <nav class="sheet-sub-tabs tabs" data-group="sub">
            <a class="item" data-group="sub" data-action="tab" data-tab="inventory">inventory</a>
            <a class="item" data-group="sub" data-action="tab" data-tab="spell">spell</a>
          </nav>
          <div class="sheet-bottom">
            <div class="tab inventory" data-group="sub" data-tab="inventory">
              {{> "systems/aster/templates/actor/parts/actor-sub-inventory.html"}}
            </div>
            <div class="tab spell" data-group="sub" data-tab="spell">
              {{> "systems/aster/templates/actor/parts/actor-sub-spell.html"}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab craft" data-group="main" data-tab="craft">
      {{> "systems/aster/templates/actor/parts/actor-main-craft.html"}}
    </div>
    <div class="tab record" data-group="main" data-tab="record">
      {{> "systems/aster/templates/actor/parts/actor-main-record.html"}}
    </div>
  </section>
</form>
