<div class="aster-chat-card combat-action-card">
  <header class="card-header">
    <div class="title">
      <div class="name">{{actionName}}<span class="actor">{{actorName}}</span></div>
      <div class="formula">{{apSpent}}</div>
    </div>
  </header>
  <div class="action-effect">{{{chatExtra}}}</div>
  {{#if hasHitButton}}
  <footer class="card-actions">
    <button type="button" data-action="roll-hit">{{localize "ASTER.hit.rollBtn"}}</button>
  </footer>
  {{/if}} {{#if hasDamageButton}}
  <footer class="card-actions damage-actions">
    <button type="button" data-action="apply-damage">{{localize "ASTER.damage.applyBtn"}}</button>
  </footer>
  {{/if}}
</div>
