<div class="aster-chat-card emo-card">
  <header class="card-header">
    <div class="title">
      <div class="name">{{localize label}}</div>
      <div class="formula">2d6 &ge; 7</div>
    </div>
  </header>

  <div class="roll-block">
    <div class="dice">[{{diceText}}]</div>
    <div class="verdict {{#if isSuccess}}success{{else}}fail{{/if}}">
      {{#if isSpecial}}스페셜{{else}}{{#if isSuccess}}성공{{else}}실패{{/if}}{{/if}}
    </div>
  </div>

  {{#if isSuccess}} {{#if favColorLabel}}
  <div class="emo-fav">
    <span class="label">{{localize "ASTER.emo.favLabel"}}</span>
    <span class="value">{{favColorLabel}}</span>
  </div>
  {{/if}} {{/if}}
</div>
