<div class="chatcard aster-chatcard text-align">
  <div class="roll-abl-chatcard">
    <div class="roll-title">
      <div class="chatcard-abl-name flex-center">{{label}} 판정</div>
      <div class="roll-type">VS</div>
    </div>
    <div class="diceset-area flexrow align-center">
      {{#each resultDiceset}}
      <div class="die-result flexcol">
        <div class="die-area">
          <i class="dNum-{{this}} fa-duotone fa-square-{{this}}"></i>
        </div>
      </div>
      {{/each}}
      <div class="die-result flexcol">
        <div class="mod-area">
          + {{ablValue}}
        </div>
      </div>
    </div>
    <div class="roll-dc">
      <div class="roll-dc-lbl"></div>
      <div class="roll-dc-formula align-center">
        {{result}}
        =
        {{total}}
      </div>
    </div>
  </div>
</div>