<div class="gm-panel-body">
  {{#each values as |v|}}
  <div class="world-value" data-key="{{v.key}}">
    <div class="wv-label">{{localize v.label}}</div>
    <div class="wv-controls">
      {{#if v.isSelect}}
      <select class="wv-select" name="{{v.key}}" data-key="{{v.key}}">
        {{#each v.options as |opt|}}
        <option value="{{opt.key}}" {{selected opt.isSelected}}>{{localize opt.label}}</option>
        {{/each}}
      </select>
      {{else}}
      <button type="button" class="wv-btn" data-action="adjust" data-key="{{v.key}}" data-delta="-1">&minus;</button>
      <input type="number" name="{{v.key}}" value="{{v.current}}" />
      <button type="button" class="wv-btn" data-action="adjust" data-key="{{v.key}}" data-delta="1">&plus;</button>
      <button type="button" class="wv-set" data-action="setValue" data-key="{{v.key}}">
        {{localize "ASTER.world.set"}}
      </button>
      {{#if v.rollable}}
      <button type="button" class="wv-roll" data-action="rangeRoll" data-key="{{v.key}}">
        {{localize "ASTER.world.rangeRoll"}}
      </button>
      {{/if}} {{#if v.witchHunt}}
      <button type="button" class="wv-hunt" data-action="witchHunt" data-key="{{v.key}}">
        {{localize "ASTER.world.witchHunt"}}
      </button>
      {{/if}} {{/if}}
    </div>
  </div>
  {{/each}}

  <div class="tracker-section">
    <div class="tracker-legend">{{localize "ASTER.tracker.section"}}</div>
    {{#each trackers as |t|}}
    <div class="tracker" data-id="{{t.id}}">
      <div class="tracker-head">
        <span class="tracker-name">{{t.name}}</span>
        <span class="tracker-value">{{t.value}}{{#if t.hasGoal}} / {{t.goal}}{{/if}}</span>
        {{#if t.reached}}<span class="tracker-done">{{localize "ASTER.tracker.done"}}</span>{{/if}}
      </div>
      <div class="tracker-controls">
        <input type="number" name="tracker-{{t.id}}" value="0" />
        <button type="button" class="tracker-btn" data-action="trackerDelta" data-id="{{t.id}}">
          {{localize "ASTER.tracker.add"}}
        </button>
        <button type="button" class="tracker-btn" data-action="trackerSet" data-id="{{t.id}}">
          {{localize "ASTER.tracker.set"}}
        </button>
        <button type="button" class="tracker-del" data-action="trackerDelete" data-id="{{t.id}}">&times;</button>
      </div>
    </div>
    {{/each}}
    <button type="button" class="tracker-create" data-action="trackerAdd">{{localize "ASTER.tracker.create"}}</button>
  </div>

  <div class="gm-panel-actions">
    <button type="button" class="wv-emo" data-action="emoGenerate">{{localize "ASTER.emo.generate"}}</button>
    <button type="button" class="wv-scene" data-action="sceneTransition">{{localize "ASTER.scene.transition"}}</button>
    <button type="button" class="wv-bulk" data-action="bulkAdjust">{{localize "ASTER.bulk.action"}}</button>
  </div>
</div>
