<div class="gm-panel-body">
  {{#each values as |v|}}
  <div class="world-value" data-key="{{v.key}}">
    <div class="wv-label">{{localize v.label}}</div>
    <div class="wv-controls">
      {{#if v.isSelect}}
      <select class="wv-select" name="{{v.key}}" data-key="{{v.key}}">
        {{#each v.options as |opt|}}
        <option value="{{opt.key}}" {{selected opt.isSelected}}>{{localize opt.label}}</option>
        {{/each}}
      </select>
      {{else}}
      <button type="button" class="wv-btn" data-action="adjust" data-key="{{v.key}}" data-delta="-1">&minus;</button>
      <input type="number" name="{{v.key}}" value="{{v.current}}" />
      <button type="button" class="wv-btn" data-action="adjust" data-key="{{v.key}}" data-delta="1">&plus;</button>
      <button type="button" class="wv-set" data-action="setValue" data-key="{{v.key}}">
        {{localize "ASTER.world.set"}}
      </button>
      {{#if v.rollable}}
      <button type="button" class="wv-roll" data-action="rangeRoll" data-key="{{v.key}}">
        {{localize "ASTER.world.rangeRoll"}}
      </button>
      {{/if}} {{#if v.witchHunt}}
      <button type="button" class="wv-hunt" data-action="witchHunt" data-key="{{v.key}}">
        {{localize "ASTER.world.witchHunt"}}
      </button>
      {{/if}} {{/if}}
    </div>
  </div>
  {{/each}}

  <div class="gm-panel-actions">
    <button type="button" class="wv-emo" data-action="emoGenerate">{{localize "ASTER.emo.generate"}}</button>
  </div>
</div>
