<form class="spell-item-sheet {{cssClass}}" autocomplete="off">
  <header class="spell-header">
    <img class="spell-portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="spell-head-fields">
      <input
        class="spell-name-input"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'ASTER.spell.name'}}"
      />
      <div class="spell-head-color">
        <label>{{localize "ASTER.spell.color"}}</label>
        <select name="system.color">
          {{selectOptions config.color selected=system.color blank="" localize=true}}
        </select>
      </div>
    </div>
  </header>

  <section class="spell-sheet">
    <div class="form-row">
      <div class="form-group">
        <label>{{localize "ASTER.spell.ability"}}</label>
        <select name="system.ability">
          {{selectOptions config.ability selected=system.ability blank="" localize=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "ASTER.spell.target"}}</label>
        <input type="number" name="system.target" value="{{system.target}}" min="0" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>{{localize "ASTER.spell.alertMin"}}</label>
        <input type="number" name="system.alert.min" value="{{system.alert.min}}" min="0" />
      </div>
      <div class="form-group">
        <label>{{localize "ASTER.spell.alertMax"}}</label>
        <input type="number" name="system.alert.max" value="{{system.alert.max}}" min="0" />
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "ASTER.spell.effect"}}</label>
      <textarea name="system.effect">{{system.effect}}</textarea>
    </div>

    <div class="form-group">
      <label>{{localize "ASTER.spell.description"}}</label>
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
  </section>
</form>
