<form class="aster {{cssClass}}" autocomplete="off">
  <div class="item item-sheet" data-item-id="{{data._id}}">
    <div class="item-container bag-sheet-body">
      <div class="item-header">
        <input type="text" name="name" value="{{item.name}}" placeholder="Name" />
      </div>
      <div class="item-detail">
        <div class="detail-lbl">재료</div>
        <div class="detail-input flexrow align-center">
          {{#each system.material}}
          <input type="number" name="system.material" value="{{this}}" />
          {{/each}}
        </div>
        <div class="detail-lbl">효과</div>
        <div class="detail-input">
          <input type="text" name="system.effect" value="{{system.effect}}" />
        </div>
        <div class="detail-lbl">요구</div>
        <div class="detail-input">
          <input type="text" name="system.requirement" value="{{system.requirement}}" />
        </div>
        <div class="detail-lbl">크기 (가로×세로)</div>
        <div class="detail-input flexrow align-center">
          <label>가로</label>
          <input type="number" name="system.size.w" value="{{system.size.w}}" min="1" />
          <label>세로</label>
          <input type="number" name="system.size.h" value="{{system.size.h}}" min="1" />
        </div>
      </div>
      <div class="item-desc">
        {{editor system.description target="system.description" button=true editable=editable}}
      </div>
    </div>
  </div>
</form>
