<form class="aster {{cssClass}}" autocomplete="off">
  <div class="herbarium">
    <div class="dialog__body">
      <div class="frow dlg-name">
        <label>{{localize "ASTER.spell.name"}}</label>
        <div class="f-input"><input type="text" name="name" value="{{item.name}}" /></div>
      </div>
      <div class="dialog__hero">
        <div class="thumb pixelart"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" /></div>
        <div class="hero-fields">
          <div class="frow">
            <label>{{localize "ASTER.spell.ruby"}}</label>
            <div class="f-input">
              <input
                type="text"
                name="system.ruby"
                value="{{system.ruby}}"
                placeholder="{{localize 'ASTER.spell.ruby'}}"
              />
            </div>
          </div>
          <div class="frow">
            <label>{{localize "ASTER.spell.alert"}}</label>
            <div class="size-row">
              <div class="pair">
                <span class="k">{{localize "ASTER.spell.alertMin"}}</span
                ><input class="box" type="number" name="system.alert.min" value="{{system.alert.min}}" />
              </div>
              <div class="pair">
                <span class="k">{{localize "ASTER.spell.alertMax"}}</span
                ><input class="box" type="number" name="system.alert.max" value="{{system.alert.max}}" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="frow">
        <label>{{localize "ASTER.spell.color"}}</label>
        <div class="f-select">
          <select name="system.color">
            {{selectOptions config.color selected=system.color blank="" localize=true}}
          </select>
        </div>
      </div>
      <div class="frow">
        <label>{{localize "ASTER.spell.ability"}}</label>
        <div class="f-select">
          <select name="system.ability">
            {{selectOptions config.ability selected=system.ability blank="" localize=true}}
          </select>
        </div>
      </div>
      <div class="frow">
        <label>{{localize "ASTER.spell.target"}}</label>
        <div class="f-input"><input type="number" name="system.target" value="{{system.target}}" min="0" /></div>
      </div>

      <div class="frow frow--stack">
        <label>{{localize "ASTER.spell.material"}}</label>
        {{> "systems/aster/templates/item/parts/material-mats.html"}}
      </div>
      <div class="frow frow--stack">
        <label>{{localize "ASTER.spell.effect"}}</label>
        <div class="f-area"><textarea name="system.effect">{{system.effect}}</textarea></div>
      </div>
      <div class="frow">
        <label>{{localize "ASTER.spell.critical"}}</label>
        <div class="f-input">
          <input type="text" name="system.message.critical" value="{{system.message.critical}}" />
        </div>
      </div>
      <div class="frow">
        <label>{{localize "ASTER.spell.fumble"}}</label>
        <div class="f-input"><input type="text" name="system.message.fumble" value="{{system.message.fumble}}" /></div>
      </div>
      <div class="frow frow--stack">
        <label>{{localize "ASTER.spell.description"}}</label>
        <div class="f-area"><textarea name="system.description">{{system.description}}</textarea></div>
      </div>
    </div>
  </div>
</form>
