<form class="aster {{cssClass}}" autocomplete="off">
  <div class="item item-sheet" data-item-id="{{data._id}}">
    <div class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      <h1 class="item-name">
        <input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'ASTER.item.namePlaceholder'}}" />
      </h1>
    </div>
    <div class="form-group">
      <label>{{localize "ASTER.equipment.type.label"}}</label>
      <div class="detail-input">
        <select name="system.type">
          {{selectOptions config.equipmentType selected=system.type blank="" localize=true}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>재료</label>
      <div class="detail-input material-grid flexrow align-center">
        {{> "systems/aster/templates/item/parts/material-fields.html"}}
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "ASTER.equipment.effect"}}</label>
      <div class="detail-input">
        <input type="text" name="system.effect" value="{{system.effect}}" />
        <p class="hint">{{localize "ASTER.equipment.effectHint"}}</p>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "ASTER.equipment.requirement"}}</label>
      <div class="detail-input">
        <input type="text" name="system.requirement" value="{{system.requirement}}" />
      </div>
    </div>
    <div class="form-group">
      <label>크기</label>
      <div class="detail-input flexrow align-center">
        <label>가로</label>
        <input type="number" name="system.size.w" value="{{system.size.w}}" min="1" />
        <label>세로</label>
        <input type="number" name="system.size.h" value="{{system.size.h}}" min="1" />
      </div>
    </div>
    <div class="item-desc">{{editor system.description target="system.description" button=true editable=editable}}</div>
  </div>
</form>
